
.content{
    padding: 10px;
    .card{
        border-radius: 15px;
        border: 2px solid var(--ion-color-primary-shade);
        height: 170px;
        width: 100%;
        padding: 3px;

        img{
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
    }
}

.head{
    text-align: center;

    h4{
        color: #e85e37;
        font-weight: 600;
        span{
            color: #000;
            background-color: none !important;
        }
    }
    
    .code{
        background: orange;
        color: #ffff;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: calc(6vw - 12px);
        padding: 0% 5%;
        border-radius: 6px;
    }
}
.grey{
    color: grey;
}
.black{
    font-size: 15px;
    font-weight: 600;
}
ion-icon{
    font-size: 20px;
    padding: 2px 5px;
    color: grey;

    
}
.call{
    --background: red;
}
ion-button .accept{
    text-align: center;
    color: rgba(0, 128, 0, 0.815);
    font-weight: 700;
    transform: translateX(30%);
    --background: linear-gradient(orange,#e85e37);
}

ion-button .reject{
    text-align: center;
    color: rgba(255, 0, 0, 0.74);
    font-weight: 700;
    transform: translateX(30%);
    --background: linear-gradient( #e85e37,orange);
}