<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
<<<<<<< HEAD
      <ion-back-button defaultHref=""></ion-back-button>
=======
      <ion-back-button defaultHref="home"></ion-back-button>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="client"></ion-menu-button>
    </ion-buttons>

    <ion-title><strong>Mon portfeuil</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Laisser pour actualiser"
      refreshingSpinner="circles"
      refreshingText="Actualisation...">
    </ion-refresher-content>
  </ion-refresher> -->



<<<<<<< HEAD
<<<<<<< HEAD
  <div class="compte ">
=======
  <!-- <div class="compte ">
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
=======
   <div class="compte ">
>>>>>>> 3b82dec (qr code)
    <div class="left">
      <ion-icon name="persone"></ion-icon>
      <span class="texte">
        <span>Solde</span>
        <strong class="money">{{solde}} FCFA</strong>
      </span>
    </div>
    <div class="right">
      <ion-button routerLink="/retrait-argent">Retirer</ion-button>
    </div>
  </div>
  <div class="content">
    <div class="title">
      <strong>Transactions</strong>
    </div>
    <br>
    <ion-segment >
      <ion-segment-button (click)="toute()" value="tout">
        <ion-label>Toutes</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="recharge()" value="recharge">
        <ion-label>Recharge</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="paiement()" value="paiement">
        <ion-label>Paiement</ion-label>
      </ion-segment-button>
    </ion-segment>


    <br>
    <div class="filter-tab">
      <div class="filter">
        <ion-datetime
          placeholder="Choisir une date"
          displayFormat="DD MMM YYYY" 
          pickerFormat="DD MMM YYYY" 
          monthShortNames='Jan, Fev, Mar, Avr, Mai, Jun, jJul, Aout, Sep, Oct, Nov, Dec' 
          doneText="Ok" 
          cancelText="Retour">
        </ion-datetime>
      </div>
      <div class="filter">
        <ion-datetime
          placeholder="Choisir une date"
          displayFormat="DD MMM YYYY" 
          pickerFormat="DD MMM YYYY" 
          monthShortNames='Jan, Fev, Mar, Avr, Mai, Jun, jJul, Aout, Sep, Oct, Nov, Dec'
           
          doneText="Ok" 
          cancelText="Retour">
        </ion-datetime>
      </div>
    </div>
    <br>

    <span style="color: rgba(122, 122, 122, 0.671); font-size: 11px;">Selectionner deux dates différentes pour les retraits</span>

    <!-- <div class="filter-date">
      <span class="date-line"></span>
      <span class="texte" >
        <span>Aujourd'hui</span>
      </span>
      <span class="date-line" ></span>
    </div> -->

    <div class="transaction-list">
      <div *ngFor="let item of trans_date" >
        <div  class="filter-date">
          <span class="date-line" ></span>
          <span class="texte" >
            <span >{{item}} </span>
          </span>
          <span class="date-line" ></span>
        </div>

        <div  *ngFor="let item2 of transactions" class="one-transaction">
          
          <div *ngIf="item == item2.date" class="left">
            <strong> Paiement commande {{item2.pour_commande}}</strong>
            <span class="trans-note" >Paiement commande {{item2.pour_commande}}</span>
            <span class="trans-note" >{{item2.heure}} </span>
          </div>
          <div *ngIf="item == item2.date" class="right">
            <div *ngIf="item2.motif == 'paiement'" class="trending down">
              <ion-icon name="trending-down-outline"></ion-icon>
              {{item2.montant}}
            </div>
            <div *ngIf="item2.motif == 'dette'" class="trending up">
              <ion-icon name="trending-up-outline"></ion-icon>
              {{item2.montant}}
            </div>
            <div *ngIf="item2.motif == 'retrait'" class="trending up">
              <ion-icon name="trending-up-outline"></ion-icon>
              {{item2.montant}}
            </div>
            <div *ngIf="item2.motif == 'recharge'" class="trending down">
              <ion-icon name="trending-down-outline"></ion-icon>
              {{item2.montant}}
            </div>
            <span class="trans-note" >Solde {{item2.solde}}</span>
          </div>
        </div>
        <div class="line"></div>

      </div>
    </div>
<<<<<<< HEAD
<<<<<<< HEAD
  </div>
=======
  </div> -->
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
=======
  </div> 
>>>>>>> 3b82dec (qr code)
</ion-content>
