.title{
    color: var(--ion-color-secondary);
    margin: 7px;
    margin-top: 10px;
}

.input{
    background-color: rgba(238, 238, 238, 0.521);
}

ion-item{
    --border-style: none 
}
ion-label{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
ion-input{
    border: 1px solid grey;
    border-radius: 7px;
    font-size: 10px;
    width: 100%;
    margin: 10px 0 5px;
    padding: 2% 3% !important;
}
ion-input:active{
    border: 1px solid #E85E37 !important;
}

#btn-valider {
    width: 50%;
    border-radius: 10px !important;
}

#btn-localisation {
    width: 100%;
}