<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
<<<<<<< HEAD
      <ion-back-button defaultHref=""></ion-back-button>
=======
      <ion-back-button defaultHref="vendeur-tabs/catalogue"></ion-back-button>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="notifications" routerLink="/notifications-vendeurs"></ion-icon>
      <ion-menu-button menu="client"></ion-menu-button>
    </ion-buttons>

    <ion-title><strong>Mon portfeuil</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="compte ">
    <div class="left">
      <ion-icon name="persone" ></ion-icon>
      <span class="texte" >
        <span>Solde</span>
<<<<<<< HEAD
        <strong class="money">15 000 FCFA</strong>
=======
        <strong class="money">{{solde}} FCFA</strong>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
      </span>
    </div>
    <div class="right">
      <ion-button routerLink="/depot-argent">Recharger</ion-button> <br>
      <ion-button routerLink="/retrait-argent">Retirer</ion-button>
    </div>
  </div>
  <div class="content">
    <div class="title">
      <strong >Transactions</strong>
    </div>
    <br>
    <ion-segment >
<<<<<<< HEAD
<<<<<<< HEAD
      <ion-segment-button  value="tout">
=======
      <ion-segment-button (click)="toute()" value="tout">
>>>>>>> 3b82dec (qr code)
        <ion-label>Toutes</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="recharge()" value="recharge">
        <ion-label>Recharge</ion-label>
      </ion-segment-button>
<<<<<<< HEAD
      <ion-segment-button value="paiement">
=======
      <ion-segment-button (click)="toute()" value="tout">
        <ion-label>Toutes</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="recharge()" value="recharge">
        <ion-label>Recharge</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="paiement()" value="paiement">
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
=======
      <ion-segment-button (click)="paiement()" value="paiement">
>>>>>>> 3b82dec (qr code)
        <ion-label>Paiement</ion-label>
      </ion-segment-button>
    </ion-segment>
    <br>
    <div class="filter-tab">
      <div class="filter">
        <ion-datetime
          placeholder="Choisir une date"
          displayFormat="DD MMM YYYY" 
          pickerFormat="DD MMM YYYY" 
          monthShortNames='Jan, Fev, Mar, Avr, Mai, Jun, jJul, Aout, Sep, Oct, Nov, Dec' 
          doneText="Ok" 
          cancelText="Retour">
        </ion-datetime>
      </div>
      <div class="filter">
        <ion-datetime
          placeholder="Choisir une date"
          displayFormat="DD MMM YYYY" 
          pickerFormat="DD MMM YYYY" 
          monthShortNames='Jan, Fev, Mar, Avr, Mai, Jun, jJul, Aout, Sep, Oct, Nov, Dec'
           
          doneText="Ok" 
          cancelText="Retour">
        </ion-datetime>
      </div>
    </div>
    <br>

    <span style="color: rgba(122, 122, 122, 0.671); font-size: 11px;" >Selectionner deux dates différentes pour voir les transactions</span>

<<<<<<< HEAD
    <div class="filter-date">
=======
    <!-- <div class="filter-date">
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
      <span class="date-line" ></span>
      <span class="texte" >
        <span >Aujourd'hui</span>
      </span>
      <span class="date-line" ></span>
<<<<<<< HEAD
    </div>

<<<<<<< HEAD
    <div class="transaction-list">
      <div *ngFor="let item of [1,2,3,4,5]" >
        <div *ngIf="item%2==0" class="filter-date">
          <span class="date-line" ></span>
          <span class="texte" >
            <span >{{'2'+item}} Juillet 2020</span>
=======
    </div> -->

     <div class="transaction-list">
      <div *ngFor="let item of trans_date" >
        <div  class="filter-date">
          <span class="date-line" ></span>
          <span class="texte" >
            <span >{{item}} </span>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
=======
     <div class="transaction-list">
      <div *ngFor="let item of trans_date" >
        <div  class="filter-date">
          <span class="date-line" ></span>
          <span class="texte" >
            <span >{{item}} </span>
>>>>>>> 3b82dec (qr code)
          </span>
          <span class="date-line" ></span>
        </div>

<<<<<<< HEAD
<<<<<<< HEAD
        <div class="one-transaction">
          <div class="left">
            <strong>Paiement commande 001254</strong>
            <span class="trans-note" >Paiement commande 001254</span>
            <span class="trans-note" >15:00</span>
          </div>
          <div class="right">
            <div *ngIf="item%3==0" class="trending up">
              <ion-icon name="trending-up-outline"></ion-icon>
              14000
            </div>
            <div *ngIf="item%3!=0" class="trending down">
              <ion-icon name="trending-down-outline"></ion-icon>
              14000
            </div>
            <span class="trans-note" >Solde 15000</span>
          </div>
        </div>
        <div class="line"></div>
  
      </div>
    </div>
  </div>
=======
        <div  *ngFor="let item2 of transactions" class="one-transaction">
          
          <div *ngIf="item == item2.date" class="left">
            <strong> Paiement commande {{item2.pour_commande}}</strong>
            <span class="trans-note" >Paiement commande {{item2.pour_commande}}</span>
            <span class="trans-note" >{{item2.heure}} </span>
          </div>
          <div *ngIf="item == item2.date" class="right">
            <div *ngIf="item2.motif == 'paiement'" class="trending up">
              <ion-icon name="trending-up-outline"></ion-icon>
              {{item2.montant}}
            </div>
            <div *ngIf="item2.motif == 'dette'" class="trending down">
              <ion-icon name="trending-down-outline"></ion-icon>
              {{item2.montant}}
=======
        <div  *ngFor="let item2 of transactions" class="one-transaction">
          
          <div *ngIf="item == item2.date" class="left">
            <strong> Paiement commande {{item2.pour_commande}}</strong>
            <span class="trans-note" >Paiement commande {{item2.pour_commande}}</span>
            <span class="trans-note" >{{item2.heure}} </span>
          </div>
          <div *ngIf="item == item2.date" class="right">
            <div *ngIf="item2.motif == 'paiement'" class="trending down">
              <ion-icon name="trending-down-outline"></ion-icon>
              {{item2.montant}}
            </div>
            <div *ngIf="item2.motif == 'dette'" class="trending up">
              <ion-icon name="trending-up-outline"></ion-icon>
              {{item2.montant}}
            </div>
            <div *ngIf="item2.motif == 'retrait'" class="trending up">
              <ion-icon name="trending-up-outline"></ion-icon>
              {{item2.montant}}
>>>>>>> 3b82dec (qr code)
            </div>
            <div *ngIf="item2.motif == 'recharge'" class="trending down">
              <ion-icon name="trending-down-outline"></ion-icon>
              {{item2.montant}}
<<<<<<< HEAD
            </div>
            <div *ngIf="item2.motif == 'recharge'" class="trending down">
              <ion-icon name="trending-up-outline"></ion-icon>
              {{item2.montant}}
=======
>>>>>>> 3b82dec (qr code)
            </div>
            <span class="trans-note" >Solde {{item2.solde}}</span>
          </div>
        </div>
        <div class="line"></div>

      </div>
    </div>
  </div> 
<<<<<<< HEAD
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
=======
>>>>>>> 3b82dec (qr code)
</ion-content>
