<ion-header >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
<<<<<<< HEAD
      <ion-back-button defaultHref=""></ion-back-button>
=======
      <ion-button  >
        <img src="../../assets/images/favicon0.png" >
      </ion-button>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    </ion-buttons>
    <ion-searchbar placeholder="Rechercher un produit" ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-icon name="notifications" color="light" ></ion-icon>
      <ion-menu-button color="light" menu="client"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<<<<<<< HEAD

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Laisser pour actualiser"
      refreshingSpinner="circles"
      refreshingText="Actualisation...">
    </ion-refresher-content>
  </ion-refresher>
  
=======
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
  <div class="content">
    <ion-segment scrollable >
      <ion-segment-button *ngFor="let item of categories" [value]="item">
        <ion-label>{{item}}</ion-label>
      </ion-segment-button>
      
    </ion-segment>

    <div class="list">
      <ion-grid>
        <ion-row >
          <ion-col size="6" *ngFor="let item of articles">
            <div (click)="select(item)" class="product-card"  >
              <div class="image-btn">
                <span *ngIf="isSelected(item)" class="selected"> 
                  <ion-icon name="checkmark-sharp"></ion-icon>
                </span>
<<<<<<< HEAD
                <span (click) = "mod(item)"  class="prix" ><input *ngIf="val == 'oui'" type="text">  {{item.amount}} </span>
=======
                <span (click) = "mod(item)" class="prix"  >
                  <ion-input [(ngModel)]="item.amountmod" *ngIf="val" type="number"  > </ion-input>
                  <span *ngIf="!val" >{{item.amount}} </span>
                  <!-- <input *ngIf="val == 'oui'" type="text">   -->
                  <ion-button (click) = "actualiser(item)" *ngIf="val" style="width: 20%;" >ok</ion-button>
                </span>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
                <img [src] ="item.img" alt="" srcset="">
              </div>
              <div class="name-icon">
                <span class="product-name"> {{item.name}} </span> <ion-icon name="bag-handle-outline" ></ion-icon>
                <strong class="product-name"> {{item.qty}} </strong> 
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="gradient-btn" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
        <div class="list-option">
          <div (click)="vente_hors_ligne()" class="option">
            <ion-icon name="log-out-outline"></ion-icon>
            <span>Enregistrer vente hors ligne</span>
          </div>
<<<<<<< HEAD
=======
        
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
          <div (click)="achat_hors_ligne()" class="option">
            <ion-icon name="log-in-outline"></ion-icon>
            <span>Enregistrer achat hors ligne</span>
          </div>
<<<<<<< HEAD
=======

          <div (click)="modifier_prix()" class="option">
            <ion-icon name="pencil-outline"></ion-icon>
            <span>Modifier prix</span>
          </div>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
        </div>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>

<ion-footer *ngIf="selectedItem.length !=0">
  <ion-button  (click)="validate()" expand='full' class="gradient-btn" >  
    valider
  </ion-button>
</ion-footer>