<div class="background">
  <div>
    <ion-buttons slot="start">
<<<<<<< HEAD
      <ion-back-button defaultHref=""></ion-back-button>
=======
      <ion-back-button defaultHref="home"></ion-back-button>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    </ion-buttons>
    <ion-title>
      <h5>Connexion</h5>
      <h3>Ravi de te revoir</h3>
    </ion-title>
  </div>
</div>

<ion-content>
  <ion-list>
    <ion-item lines="none" >
      <ion-label  position="stacked">Numero ou Email</ion-label>
      <ion-input [(ngModel)]="login.email" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Mot de passe</ion-label>
      <ion-input [(ngModel)]="login.password" type="password" placeholder=""></ion-input>
    </ion-item>
  </ion-list>
  <span>Mot de passe Oublié</span>

  <span> {{errorMessage}} </span>
</ion-content>

<div class="footer">
  <ion-button (click)="soumettre2()" class="outline-btn gradient-btn"  >Se Connecter</ion-button>
    <p>
      Vous n'avez pas un compte ?
      <span routerLink="/type-inscription" routerLinkActive="router-link-active">CREER UN COMPTE</span>
    </p>
</div>