ion-header ion-toolbar{
    --background: rgb(255 68 0 / 18%);
    --border-radius: 0 0px 32% 40%;
    --padding: 5%;
  }

.sub-title{
  background-color: rgb(255 68 0 / 18%);
  --border-radius: 0 0px 32% 40%;
  --padding: 5%;
}

  ion-back-button{
    --position: absolute;
    --top: 2%;
    --color: orangered;

  }
  ion-header h5{
    text-align: center;
    color: orangered;
    font-size: 15px;
  }

  h3{
    font-weight: 700;
    text-align: center;
    letter-spacing: 1.5px;
    margin: 15% 2%;
  }


#container {
    text-align: center;
    margin: 10% 5%;
}
ion-progress-bar {

    --buffer-background: rgb(255 68 0 / 18%);
    --progress-background: orangered;
    border-radius: 15px;
    height: 7px;
}

ion-item{
    --border-style: none
}
ion-label{
    font-size: 20px;
    color: #000;
}
ion-input{
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 10px;
    width: 100%;
    margin: 10px 0 20px;
    padding: 2% 3% !important;
}
ion-input:active{
    border: 1px solid orangered !important;
}

ion-button{
    text-transform: uppercase;
    --background: linear-gradient(orange, orangered) !important;
    --border-radius: 10px;
    margin:  0 5%;
}

#btn-localisation {
  width: 90%;
}
