<ion-header>
    <div class="background">
      <div>
        <ion-buttons slot="start">
          <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>
          <h5>Création de compte</h5>
          <h3>Vendeur : Distributeur Agréé </h3>
        </ion-title>
      </div>
    </div>
</ion-header>
<ion-content>
 <div id="container">
  <ion-progress-bar  value="0.8"></ion-progress-bar>

  <ion-list>

    <br>

    <ion-button (click) = "presentActionSheet()" expand="block" color="secondary">Types de distributeur</ion-button>

    <br>

   <ion-item lines="none">
    <ion-label position="stacked" class="ion-no-border">Nom du distributeur </ion-label>
    <ion-select [(ngModel)]="dataDistributeur.distributeur_agreer"  placeholder="Sélectionner votre entreprise">
      <div *ngIf="type_distributeur == 'sobebra'">
        <ion-select-option value="La Promesse Divine est Eternel">La Promesse Divine est Eternel</ion-select-option>
        <ion-select-option value="La Releve">La Releve</ion-select-option>
        <ion-select-option value="Coup Djougou">Coup Djougou</ion-select-option>
        <ion-select-option value="Invest Drink">Invest Drink</ion-select-option>
        <ion-select-option value="Benin Soleil">Benin Soleil</ion-select-option>
        <ion-select-option value="H&J">H&J</ion-select-option>
        <ion-select-option value="Sitrac">Sitrac</ion-select-option>
        <ion-select-option value="Benin Boissons">Benin Boissons</ion-select-option>
        <ion-select-option value="Berceau des intimes">Berceau des intimes</ion-select-option>
      </div>
    </ion-select>
   </ion-item>

   <ion-item  lines="none">
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="dataDistributeur.email" type="email" placeholder="nom@gmail.com"></ion-input>
   </ion-item>

   <ion-item lines="none">
    <ion-label  position="floating">Ville, quartier</ion-label>
    <ion-input [(ngModel)]="dataDistributeur.localisation_detail1" type="text" placeholder="cotonou, fifadji"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label  position="floating">plus de details</ion-label>
    <ion-input [(ngModel)]="dataDistributeur.localisation_detail2" type="text" placeholder="premiere von apres le commissariat de fifadji"></ion-input>
  </ion-item>


   <ion-item>
    <ion-label position="stacked">Adresse de livraison</ion-label>
    <ion-button id="btn-localisation" (click) = "presentAlertConfirm()"  expand="block">geolocaliser son depot</ion-button>
   </ion-item>
   <br>
   <ion-item>
    <ion-label position="stacked">Mot de passe</ion-label>
    <ion-input [(ngModel)]="dataDistributeur.password" type="password" placeholder="**********"></ion-input>
   </ion-item>
   <ion-item lines="none">
    <ion-label position="stacked">Confirmer le mot de passe</ion-label>
    <ion-input [(ngModel)]="dataDistributeur.password2" type="password" placeholder="**********"></ion-input>
   </ion-item>
   <ion-item>
    <ion-label position="stacked">entrez le code secret de ce distributeur agreer</ion-label>
    <ion-input [(ngModel)]="dataDistributeur.secretCode" type="password" placeholder="**********"></ion-input>
   </ion-item>
  </ion-list>
  <ion-button class="outline-btn gradient-btn" expand="block" (click) = "soumettre2()">Créer le compte</ion-button>
  <span> {{errorMessage}} </span>
 </div>

 <div *ngIf="verificationCode" id="faux-code-secret">
   {{message}}
 </div>

</ion-content>
