<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
<<<<<<< HEAD
      <ion-back-button defaultHref=""></ion-back-button>
=======
      <ion-back-button defaultHref="tabs/accueil"></ion-back-button>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="notifications-outline" routerLink="/notifications-client"></ion-icon>
      <ion-menu-button menu="client"></ion-menu-button>
    </ion-buttons>

    <ion-searchbar placeholder="Rechercher une commande"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  
<div class="content">
  <div style="text-align: center;" >
    <strong class="title" >Historique des commandes</strong>
  </div>
  <br><br>

<<<<<<< HEAD
  <div class="commande">
    <div class="date">
      <strong>12/5/2020 - 12:30</strong>
    </div>
    <div class="contenue">
      <div class="commande-content">
        <div *ngFor="let item of historique_achat" class="livraison-element">
=======
  <div *ngFor="let item of historique_achat" class="commande">
    <div class="date">
      <strong>{{item.date}} - {{item.heure}}</strong>
    </div>
    <div class="contenue">
      <div class="commande-content">
        <div  class="livraison-element">
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
          
          <span class="cmd">CMD: {{item.cmdCode}}</span>
          <div>
            <strong *ngIf="item.statut!='livrer'" class="status" style="color: red;" >{{item.statut}}</strong>
            <strong *ngIf="item.statut=='livrer'" class="status" style="color: green;">{{item.statut}}</strong>
            <ion-button [routerLink]="['/historique-detail']" routerLinkActive="router-link-active"  class="gradient-btn" (click) = "voirDetail(item)">Voir</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</ion-content>
