<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="client"></ion-menu-button>
    </ion-buttons>
    <ion-title>Retrait d'argent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<<<<<<< HEAD

  <div id="moyen-retrait">
    <h4>Choisissez un moyen de payement</h4>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div >
            <img src="../../assets/images/mobile_money.png" alt="">
          </div>
        </ion-col>
        <ion-col size="6">
          <div >
            <img src="../../assets/images/flooz.jpg" alt="">
          </div>
        </ion-col>
        <ion-col size="6">
          <div >
            <img src="../../assets/images/perfect_money.png" alt="">
          </div>
        </ion-col>
        <ion-col size="6">
          <div >
            <img src="../../assets/images/visa.png" alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Montant</ion-label>
      <ion-input></ion-input>
=======
  <ion-list>
    <ion-item>
      <ion-label position="floating">Montant</ion-label>
      <ion-input [(ngModel)]="data.retrait"></ion-input>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    </ion-item>

    <ion-item>
      <!-- <ion-input class="input" ng-model="countryCode" placeholder="Country Code"></ion-input> -->
      <ion-label position="floating">Numéro de transaction</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br><br>
<<<<<<< HEAD
    <ion-button class="outline-btn gradient-btn">Valider</ion-button>
=======
    <ion-button class="outline-btn gradient-btn"  (click)= "retraitArgent()">Valider</ion-button>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
  </ion-list>
  
</ion-content>
