.container{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}
h1{
  font-weight: 800;
  font-size: 35px;
}
span{
  font-weight: bold;
}
#code{
  margin: 20% 0 0 0;
  .code-vendeur{

    ul{
      padding: 0;
      margin: 0;
      display: inline-flex;
      color: #e85e37;
      transform: translateX(-55px);
    }
    li{
      padding: 0;
      list-style: none;
      text-decoration: underline;
      margin: 0 15%;
      font-weight: 900;
      font-size: 25px;
    }
  }
}
ion-button{
  text-align: center;
  color: #ffff;
  margin-top: 20%;
  --background: linear-gradient(orange,#e85e37);
}
