<ion-header>
  <ion-toolbar>
<<<<<<< HEAD
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Scanner Code Qr</ion-title>
=======
    <ion-title>qrcodeScanner</ion-title>
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
    <ion-buttons slot="end">
      <ion-button *ngIf="showCamera" (click)="closeCamera()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-icon *ngIf="showCamera" class="frame" name="qr-scanner"></ion-icon>

  <div *ngIf="!showCamera">
    <ion-item *ngIf="textScanned" lines="none">
      <ion-label>
        <p>Texte du QR Code</p>
        <h2><b>{{ textScanned }}</b></h2>
      </ion-label>
    </ion-item>
    <ion-button expand="block" (click)="scanCode2()" >
      <ion-icon slot="start" name="qr-scanner"></ion-icon>
      Scanner un QR Code
    </ion-button>
  </div>
</ion-content>
