ion-list{
  margin: 20% 5%;
  padding: 10%;
  box-shadow: -2px -1px 6px 2px #8080804f;
  border-radius: 20px;
}
ion-list button{
  width: 100%;
<<<<<<< HEAD
}

#moyen-depot{
  h4{
    text-align: center;
  }
  img{
    width: 100%;
    height: 150px;
    border-radius: 10%;
  }
=======
>>>>>>> febfe0e9ac902214682b4ac55cd73a18588974dd
}